.close-create-contact {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}

.create-contact-wrapper {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}

.create-contact-avatar {
  margin-right: 20px;
}
.create-contact-avatar-input {
  width: 60px;
  height: 60px;
  background-color: white;
  background-image: url('./icons/person.svg');
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.create-contact-details {
}
.create-contact-name,
.create-contact-email {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}
.create-contact-save button {
  margin-top: 20px;
  background: #ccc;
  padding: 10px;
  text-transform: uppercase;
  font-size: inherit;
  border: none;
  outline: 0;
}
