.book-search {
}

.book-search-bar {
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  padding-top: 20px;
  z-index: 5;
}
.book-search-bar input {
  width: 300px;
  padding: 8px 8px 8px 40px;
  font-size: 1.25em;
  border: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
  background-image: url('./icons/search.svg');
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: 24px;
  outline: none;
}

@media (min-width: 500px) {
  .book-search-bar input {
    width: 400px;
  }
}
@media (min-width: 600px) {
  .book-search-bar input {
    width: 70%;
  }
}

.book-search-close-link {
  position: absolute;
  display: block;
  top: 20px;
  left: 15px;
  width: 40px;
  height: 40px;
  background: transparent;
  background-image: url('./icons/arrow_back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.book-search-results {
  padding: 80px 20px 20px;
}
